#ignore files potentially left behind by editor tools
*~

#ignore json files used for program storage
*.json

#ignore .txt files
*.txt

#ignore the Readme, it's not needed on the host machine
README.md

#ignore potential save files left by pm2
*.save
